name: Telegram Bot Handler

on:
  schedule:
    - cron: "*/1 * * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Run Telegram Bot Handler
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python bot_handler.py
